body {
    text-align: center;
}
h1 {
	font-family: Inconsolata;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
h2 {
	font-family: Inconsolata;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;

}
h3 {
	font-family: Inconsolata;
	font-size: 18px;
	font-style: normal;;
	font-variant: normal;
	font-weight: 500;

}
h4{
    font-family: Inconsolata;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
p{ /* same as h3 */
    font-family: Inconsolata;
	font-size: 18px;
	font-style: normal;;
	font-variant: normal;
	font-weight: 500;
}
.button-NAME {
    background-color: #5AB9F8;
    border: 0;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
}
.button-NAME:hover {
    background: #42BDE5;
    color: #FFFFFF;
    text-decoration: none;
}
